@use '../vars' as *;

/* Buttons */
.button {
    @include inline-flex(14px);
    cursor: pointer;
    position: relative;
    color: $white;
    font-size: 16px;

    &:not(.button--header)::before {
        content: "";
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $white;
        @include trs;

        @include media(767px) {
            width: 35px;
            height: 36px;
        }
    }

    &:not(.button--header)::after {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        border: 1.5px solid $black_light;
        border-left: none !important;
        border-bottom: none !important;
        transform: rotate(45deg);

        position: absolute;
        left: 10px;
        top: 10px;
        @include trs;

        @include media(767px) {
            width: 10px;
            height: 10px;
            left: 12px;
            top: 13px;
        }
    }

    &:not([disabled]) {
        @include hover {
            &:not(.button--header)::before {
                background-color: $red;
            }

            &:not(.button--header)::after {
                border: 1.5px solid $white;
            }
        }
    } 

    &--header {
        font-size: clamp(14px, 2vw,  16px);
        @include trs;
        @include underline;

        @include hover {
            color: $gray_light;
        }
    }

    &[disabled] {
        opacity: .6;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--simple {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 3px;
        background-color: $white;
        color: $black_light;
        @include trs;

        &::before, &::after {
            display: none !important;
        }

        @include hover {
            opacity: .6;
        }
    }

    &--carpage {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
        @include trs;
    }
}