@use '../vars' as *;

$t: 1000px;
$m: 600px;

.catalog-wrapper {
    padding-bottom: clamp(50px, 8.4vw, 120px);
    display: flex;
    flex-direction: column;
    gap: clamp(80px, 8.4vw, 120px);
}

.catalog {
    position: relative;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog-countries {
    @include inline-flex(3px);
    flex-wrap: wrap;
}

.catalog-country {
    padding: 10px 20px;
    background-color: #1E1E1E;
    color: rgba($white, .4);
    font-size: 16px;
    @include trs;

    &:not(.active) {
        @include hover {
            opacity: .6;
        }
    }

    &.active {
        background-color: $red;
        color: $white;
        cursor: default;
    }
}

.catalog-icon {
    display: none;
    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 3px;

    img {
        display: block;
        width: 24px;
        opacity: .4;
        @include trs;
    }

    @include media($m) {
        display: flex;
    }

    &.active {
        img {
            opacity: 1;
        }
    }
}



/* Filter */

.filter {
    margin: 40px 0 60px;

    @include media($m) {
        display: none;
        
        position: absolute;
        top: 60px;
        right: 0;
        width: 340px;
        padding: 20px;
        background-color: #0E0E0E;
        margin: 0;
        z-index: 1;
    }

    &.active {
        display: block;
    }
}

.filter__row {
    display: grid;
    gap: 10px;

    &--top {
        grid-template-columns: repeat(5, 1fr);

        @include media($t) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &--bottom {
        grid-template-columns: 1fr 1fr auto auto;
        margin-top: 10px;

        @include media($t) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.filter__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;

    &--year {
        grid-column: span 2;
    }

    &--mileage, &--power {
        @include media($t) {
            grid-column: span 2;
        }
    }
}

.filter__field {
    position: relative;

    &--engine {
        @include media($t) {
            grid-column: span 2;
        }
    }
}

.filter__select, .filter__input  {
    display: block;
    width: 100%;
    padding: 14px 20px;
    background-color: #1E1E1E;
    border-radius: 3px;

    color: rgba($white, .4);
    font-size: 14px;

    &::placeholder {
        color: rgba($white, .4);
    }
}

.filter__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
}

.filter__icon {
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid rgba($white, .4);
    border-right: 2px solid rgba($white, .4);

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0px, -50%) rotate(135deg);
}


.filter__button  {
    padding: 13px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    @include trs;

    @include hover {
        opacity: .6;
    }

    &--reset {
        background-color: transparent;
        border: 1px solid rgba($white, .4);
    }

    &--submit {
        background-color: $white;
        color: $black_light;
    }

    @include media($t) {
        grid-column: span 2;
    }
}


/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}