@use '../vars' as *;

// HERO
.hero {
    @include background;
    background-image: url('../../img/home/hero.webp');
}

.hero__inner {
    padding: 410px 0 40px;

    @include media(1000px) {
        padding: 440px 0 60px;
    }

    @include media(600px) {
        padding: 410px 0 40px;
    }
}

.hero__text {
    display: grid;
    grid-template-columns: 650fr 460fr;
    gap: 60px;
    align-items: flex-start;

    margin-top: 35px;

    @include media(1000px) {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 25px;
    }
}

.hero__subtitle {
    text-align: right;
    color: $gray_light;
    font-size: clamp(14px, 2.6vw, 20px);

    @include media(1000px) {
        text-align: left;
    }
}


// ADVANTAGES
