@use '../vars' as *;

.faq__item {
    padding: 20px;
    background-color: white;

    margin-bottom: 20px;

    &.active .faq__icon {
        transform: rotate(45deg);
    }
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    cursor: pointer;

    font-size: clamp(18px, 1.8vw, 26px);
}

.faq__answer {
    font-size: clamp(18px, 1.8vw, 22px);
    overflow-y: hidden;
    transition: .3s ease all;

}

.faq__icon {
    transition: .3s ease all;

    width: 20px;
    height: 4px;
    border-radius: 10px;
    background: red;
    position: relative;

    flex-shrink: 0;

    @include media (767px) {
        height: 2px;
        width: 16px;
    }

    &::after {
        content: "";
        display: block;
        width: 4px;
        height: 20px;
        border-radius: 10px;
        background: red;

        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        @include media (767px) {
            width: 2px;
            height: 16px;
        }
    }
}