
@use '../../vars' as *;

.catalog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    margin-top: 60px;

    @include media(1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @include media(600px) {
        margin-top: 30px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: url('/assets/img/general/loader.svg');
            display: block;
            width: 100px;
            height: 100px;
        }
    }
}

.car {
    @include hover {
        .car__img img {
            transform: scale(1.1);
        }

        .car__info img {
            transform: rotate(45deg);
        }
    }
}

.car__img {
    position: relative;
    aspect-ratio: 380/230;
    width: 100%;
    overflow: hidden;

    img {
        @include absolute-image;
        @include trs;
    }
}

.car__mark {
    font-size: clamp(22px, 4.2vw, 32px);
    margin: 20px 0 5px;
}

.car__model {
    font-size: 16px;
}

.car__info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
    font-size: 16px;

    img {
        @include trs;
    }
}

.car__label {
    color: $gray_light;
    margin-bottom: 5px;
}

.car__value {
    font-weight: 700;
}

.catalog__btn {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}