@use 'modals';
@use 'consultation-form';



.fz-20-16 {
    font-size: clamp(16px, 2.6vw, 20px);
}

.fz-20-14 {
    font-size: clamp(14px, 2.6vw, 20px);
}

.fz-16-14{
    font-size: clamp(14px, 2vw, 16px);
}

.center {
    text-align: center;
}