@use '../../vars' as *;
@use 'modals';
@use 'consultation-form';
@use 'seo';
@use 'footer';



.fz-20-16 {
    font-size: clamp(16px, 2.6vw, 20px);
}

.fz-20-14 {
    font-size: clamp(14px, 2.6vw, 20px);
}

.fz-16-14 {
    font-size: clamp(14px, 2vw, 16px);
}

.fz-16-12 {
    font-size: clamp(12px, 2vw, 16px);
}

.gray-text {
    color: $gray_light;
}

.center {
    text-align: center;
}

.black-light {
    padding: clamp(50px, 8.4vw, 120px) 0;

    display: flex;
    flex-direction: column;
    gap: clamp(80px, 8.4vw, 120px);

    & > * {
        flex-shrink: 0;
    }

}