@use '../../vars' as *;
@use 'modals';
@use 'consultation-form';



.fz-20-16 {
    font-size: clamp(16px, 2.6vw, 20px);
}

.fz-20-14 {
    font-size: clamp(14px, 2.6vw, 20px);
}

.fz-16-12 {
    font-size: clamp(12px, 2vw, 16px);
}

.gray-text {
    color: $gray_light;
}

.center {
    text-align: center;
}