<div class="container">
    <div class="consultation">

        <div>
            <div class="consultation__title">Получите персональную консультацию</div>
            {{> form}}
        </div>

        <div class="consultation__info">
            <div class="consultation__image">
                <img src="{{> loader}}" data-lazy="{{root}}assets/img/general/form-consultation-2.webp" alt="Мы не передаём ваши данные третьим лицам. Свяжется персональный менеджер — без спама и навязчивых звонков.">
            </div>
            <div class="consultation__notice">Мы не передаём ваши данные третьим лицам. Свяжется персональный менеджер — без спама и навязчивых звонков.</div>
        </div>

    </div>
</div>