<div class="container">
    <div class="consultation">

        <div>
            <div class="consultation__title">Заявка на автомобиль</div>
            <p class="consultation__subtitle  fz-16-14">Заполните форму и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;ближайшее время</p>
            {{> form-catalog}}
        </div>

        <div class="consultation__info">
            <div class="consultation__image">
                <img src="{{> loader}}" data-lazy="{{root}}assets/img/general/form-consultation.webp" alt="Мы не передаём ваши данные третьим лицам. Свяжется персональный менеджер — без спама и навязчивых звонков.">
            </div>
        </div>

    </div>
</div>