<div id="faq" data-css="blocks/faq.min.css" class="faq__wrapper" >
    
    <div class="faq__item animated">
        <div class="faq__question">
            <div>Какова стоимость тура и условия оплаты?</div>
            <div class="faq__icon"></div>
        </div>

        <div class="faq__answer gray" style="max-height: 0;">
            <br>
            <div>Стоимость зависит от выбранного маршрута и указана в карточках туров. Внесите часть суммы предоплатой, в случае форс-мажора за 14 дней до начала тура, вернём предоплату.</div>
        </div>
    </div>

    <div class="faq__item animated">
        <div class="faq__question">
            <div>Какова стоимость тура и условия оплаты?</div>
            <div class="faq__icon"></div>
        </div>

        <div class="faq__answer gray" style="max-height: 0;">
            <br>
            Стоимость зависит от выбранного маршрута и указана в карточках туров. Внесите часть суммы предоплатой, в случае форс-мажора за 14 дней до начала тура, вернём предоплату.
        </div>
    </div>

    <div class="faq__item animated">
        <div class="faq__question">
            <div>Какова стоимость тура и условия оплаты?</div>
            <div class="faq__icon"></div>
        </div>

        <div class="faq__answer gray" style="max-height: 0;">
            <br>
            Стоимость зависит от выбранного маршрута и указана в карточках туров. Внесите часть суммы предоплатой, в случае форс-мажора за 14 дней до начала тура, вернём предоплату.
        </div>
    </div>

</div>