<div style="display:none" id="modal-wrapper" class="modal-wrapper">
    <div class="modal-wrapper__inner  container">


        <div id="consultation" class="modal" >
            <svg class="modal__close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.6">
                    <path d="M12.9483 0L7 5.94859L1.05173 0L0 1.05141L5.94864 7L0 12.9486L1.05173 14L7 8.05141L12.9483 14L14 12.9486L8.05136 7L14 1.05141L12.9483 0Z" fill="white"/>
                </g>
            </svg>

            {{> consultation}}
        </div>


    </div>
</div>