<form class="form" data-form="consultation">
    <input type="text" class="form__input" name="name" placeholder="Ваше имя">
    <input type="text" class="form__input" name="phone" placeholder="Телефон">
    
    <input type="text" name="site" style="display:none">
    <input type="text" name="url" style="display:none">

    <label class="form__label">
        <input class="form__checkbox" type="checkbox" name="checkbox-privacy">
        <span>Я ознакомлен и выражаю согласие с положениями <a href="#">Политики обработки  Персональных данных</a></span>
    </label>

    <label class="form__label">
        <input class="form__checkbox"  type="checkbox" name="checkbox-agreement">
        <span>Я ознакомлен и выражаю <a href="#">согласие на обработку персональных данных</a></span>
    </label>

    <button class="button" type="submit">Получить консультацию</button>
</form>