<style>
    #myCarousel {
    --f-carousel-gap: 10px;
    --f-carousel-slide-width: 60%;
    --f-carousel-slide-padding: 50px;
    --f-carousel-slide-bg: #eee;
    }
</style>

<div data-css="blocks/slider.min.css" id="myCarousel" class="f-carousel  animated">
    <img class="f-carousel__slide" width="300" data-lazy-src="{{root}}assets/img/og.webp" alt="">
    <img class="f-carousel__slide" width="300" data-lazy-src="{{root}}assets/img/og.webp" alt="">
    <img class="f-carousel__slide" width="300" data-lazy-src="{{root}}assets/img/og.webp" alt="">
    <img class="f-carousel__slide" width="300" data-lazy-src="{{root}}assets/img/og.webp" alt="">
    <img class="f-carousel__slide" width="300" data-lazy-src="{{root}}assets/img/og.webp" alt="">
    <img class="f-carousel__slide" width="300" data-lazy-src="{{root}}assets/img/og.webp" alt="">
</div>