<div class="marks__track">
    <img src="{{root}}assets/img/home/marks/ferrari.svg" alt="Ferrari">
    <img src="{{root}}assets/img/home/marks/mercedes.svg" alt="Mercedes-Benz">
    <img src="{{root}}assets/img/home/marks/bentley.svg" alt="Bentley">
    <img src="{{root}}assets/img/home/marks/bmw.svg" alt="BMW">
    <img src="{{root}}assets/img/home/marks/porsche.svg" alt="Porsche">
    <img src="{{root}}assets/img/home/marks/rolls.svg" alt="Rolls-Royce">
    <img src="{{root}}assets/img/home/marks/mclaren.svg" alt="McLaren">
    <img src="{{root}}assets/img/home/marks/audi.svg" alt="Audi">
    <img src="{{root}}assets/img/home/marks/zeekr.svg" alt="Zeekr">
    <img src="{{root}}assets/img/home/marks/maserati.svg" alt="Maserati">
    <img src="{{root}}assets/img/home/marks/lexus.svg" alt="Lexus">
    <img src="{{root}}assets/img/home/marks/bugatti.svg" alt="Bugatti">
    <img src="{{root}}assets/img/home/marks/koenigsegg.svg" alt="Koenigsegg">
    <img src="{{root}}assets/img/home/marks/aston.svg" alt="Aston Martin">
    <img src="{{root}}assets/img/home/marks/lamborghini.svg" alt="Lamborghini">
    <img src="{{root}}assets/img/home/marks/lincoln.svg" alt="Lincoln">
    <img src="{{root}}assets/img/home/marks/range-rover.svg" alt="Range Rover">
    <img src="{{root}}assets/img/home/marks/maybach.svg" alt="Mercedes-Maybach">
    <img src="{{root}}assets/img/home/marks/cadillac.svg" alt="Cadillac">
    
    <img src="{{root}}assets/img/home/marks/ferrari.svg" alt="Ferrari">
    <img src="{{root}}assets/img/home/marks/mercedes.svg" alt="Mercedes-Benz">
    <img src="{{root}}assets/img/home/marks/bentley.svg" alt="Bentley">
    <img src="{{root}}assets/img/home/marks/bmw.svg" alt="BMW">
    <img src="{{root}}assets/img/home/marks/porsche.svg" alt="Porsche">
    <img src="{{root}}assets/img/home/marks/rolls.svg" alt="Rolls-Royce">
    <img src="{{root}}assets/img/home/marks/mclaren.svg" alt="McLaren">
    <img src="{{root}}assets/img/home/marks/audi.svg" alt="Audi">
    <img src="{{root}}assets/img/home/marks/zeekr.svg" alt="Zeekr">
    <img src="{{root}}assets/img/home/marks/maserati.svg" alt="Maserati">
    <img src="{{root}}assets/img/home/marks/lexus.svg" alt="Lexus">
    <img src="{{root}}assets/img/home/marks/bugatti.svg" alt="Bugatti">
    <img src="{{root}}assets/img/home/marks/koenigsegg.svg" alt="Koenigsegg">
    <img src="{{root}}assets/img/home/marks/aston.svg" alt="Aston Martin">
    <img src="{{root}}assets/img/home/marks/lamborghini.svg" alt="Lamborghini">
    <img src="{{root}}assets/img/home/marks/lincoln.svg" alt="Lincoln">
    <img src="{{root}}assets/img/home/marks/range-rover.svg" alt="Range Rover">
    <img src="{{root}}assets/img/home/marks/maybach.svg" alt="Mercedes-Maybach">
    <img src="{{root}}assets/img/home/marks/cadillac.svg" alt="Cadillac">
    
</div>